<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="row">
                <h3>Register</h3>
                <span *ngIf="regId!=undefined" style="color: coral;"> You successfully registered with customer id {{regId}}.</span>
            </div>
            <form #registerForm="ngForm" (ngSubmit)="SignUp(registerForm)">
                <div class="row">
                    <div class="form-group">
                        <label>Name :</label>
                        <input ngModel type="text" value="" name="name" id="name" class="form-control"
                            placeholder="Enter name" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Email :</label>
                        <input ngModel type="email" value="" name="email" id="email" class="form-control"
                            placeholder="Enter Email" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Phone Number :</label>
                        <input ngModel type="text" value="" name="phone" id="phone" class="form-control"
                            placeholder="Enter Phone Number" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Password :</label>
                        <input ngModel type="password" value="" name="password" id="password" class="form-control"
                            placeholder="Enter Password" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Retype Password :</label>
                        <input ngModel type="password" value="" name="password1" id="password1" class="form-control"
                            placeholder="Retype Password" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="text-align: center">
                        <input type="submit" class="btn btn-primary" value="Register"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>

</html>