<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Select Vehicle details</title>
</head>

<body>

  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <div class="row">
        <h3>Vehicle details</h3>
      </div>
      <form #vForm= "ngForm" (ngSubmit)="AddVehicleToAppointment(vForm.form.value)" >

        <div class="row">
          <div class="form-group">
            <label>Car Make :</label>
            <select #m type="select" [(ngModel)]="v.make" name="make"  id="make" (change)="SelectModel(m.value)">
              <option *ngFor="let make of makes">{{make}}</option>
            </select>
            </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Car Model :</label>
            <select #md type="select" [(ngModel)]="v.model" name="model" id="model" (change)="Selectfuel(md.value)">
              <option *ngFor="let model of models">{{model}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Fuel type : &nbsp;&nbsp; </label><br>
            <select #ft type="select" [(ngModel)]="v.fuelType" name="fuelType" id="fuelType">
              <option *ngFor="let fuelType of fuelTypes">{{fuelType}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group" style="text-align: center">
            <input type="submit" class="btn btn-primary" value="Select Vehicle" id="btnsubmit" />
          </div>
        </div>

      </form>
    </div>
  </div>
</body>

</html>
