<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Customers </title>
</head>

<body>
  <div class="container">
    <div class="row">
      <h3>Customers</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Customers Id</th>
            <th>Name </th>
            <th>Email </th>
            <th>Phone </th>
            <th>Wallet Amount</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.wallet}}</td>
            <td>
              <input class="btn btn-danger" type="button" (click)="DeleteCustomer(customer.id)" value="Delete"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
