<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Service</title>
</head>

<body>
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="row">
                <h3>Add Service Details</h3>
            </div>
            <form #addServiceForm="ngForm" (ngSubmit)="AddService(addServiceForm)">
                <div class="row">
                    <div class="form-group">
                        <label>Service Name :</label>
                        <input ngModel type="text" value="" name="name" id="name" class="form-control"
                            placeholder="Enter name of service" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Description :</label>
                        <input ngModel type="text" value="" name="desc" id="desc" class="form-control"
                            placeholder="Enter Description" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Price :</label>
                        <input ngModel type="text" value="" name="price" id="price" class="form-control"
                            placeholder="Enter Price" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="text-align: center">
                        <input type="submit" class="btn btn-primary" value="Add Service"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>

</html>
