
<h3><a routerLink="/admin/listowners">List Owners</a></h3>
<h3><a routerLink="/admin/listcenters">List Service Centers</a></h3>
<h3><a routerLink="/admin/listservices">List Services</a></h3>
<h3><a routerLink="/admin/listvehicles">List Vehicles</a></h3>
<h3><a routerLink="/admin/addvehicle">Add Vehicles</a></h3>
<h3><a routerLink="/admin/listcustomers">List Customers</a></h3>
<h3><a routerLink="/admin/listappointments">List Appointments</a></h3>
<h3><a routerLink="/changepassword">Change Password</a></h3>
<h3><a routerLink="/admin/addservice">Add Service</a></h3>

