<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Address</title>
</head>
<body>
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row">
        <h3>Add Address</h3>
      </div>
      <form #addressForm="ngForm" (ngSubmit)="AddAddress(addressForm.form.value)">
        <div class="row">
          <div class="form-group">
            <label>Street Address :</label>
            <input ngModel type="text" value="" name="streetAddress" id="streetAddress" class="form-control"
              placeholder="Enter street address" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Landmark :</label>
            <input ngModel type="text" value="" name="landmark" id="landmark" class="form-control"
              placeholder="Enter landmark" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>City :</label>
            <input ngModel type="text" value="" name="city" id="city" class="form-control" placeholder="Enter city" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Pincode :</label>
            <input ngModel type="text" value="" name="pincode" id="pincode" class="form-control" placeholder="Enter pincode" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>State :</label>
            <input ngModel type="text" value="" name="state" id="state" class="form-control" placeholder="Enter state" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Country :</label>
            <input ngModel type="text" value="" name="country" id="country" class="form-control" placeholder="Enter country" />
          </div>
        </div>
        <div class="row">
          <div class="form-group" style="text-align: center">
            <input type="submit" name="addaddress" class="btn btn-primary" value="Add Address" id="btnsubmit" />
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
