<div>
    <h1 style="text-align: center">Home</h1><br><br><br>
    
    <p>Let's face it.We all know that owning a car is much simpler than maintaining it.</p>
    
    <p>Car service and repair is not only time consuming but also quite expensive.Top of it most of us do not even know what we are paying for or how much time will the repair take .Our lack of automotive knowledge is often taken advantage of by local or authorised workshops and all we end up with is high bills,low quality repairs and a horrible experience.</p>
    
    <p>At Pitstop, we believe that car service should be convenient,transparent,high quality and reliable.We understand that car is a complex machine and it is difficult for you to figure out the correct solution for your car's symptoms.This is where our skilled and knowledgeable in house technicians come to your rescue.Our well trained technician come right at your doorstep to diagnose the problem and suggest or book the correct service.</p>
    
    <p></p>
    
    <p></p>
    
    </div>