<footer>
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 ">
        <div class="card card-body block">

          <!-- <h5 class="text-center mb-3">Popular Roads</h5>

          <ul class="row">
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Mumbai"> Pune to Mumbai </a></li>
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Delhi"> Pune to Delhi </a></li>
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Bangalore"> Pune to Bangalore </a></li>
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Chennai"> Pune to Chennai </a></li>
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Kolkata"> Pune to Kolkata </a></li>
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Raipur"> Pune to Raipur </a></li>
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Nashik"> Pune to Nashik </a></li>
            <li class="col-md-6"><a href="" target="_blank" title="Pune to Jalgon"> Pune to Jalgon </a></li>
          </ul> -->

        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body block">
          <div id="why_buy">
            <div class="info_right">
              <!-- <h5 class="text-center mb-3">Why buy tickets from us?</h5>
              <ul>
                <li><b>Buy bus tickets</b> anytime from anywhere</li>
                <li>Pay by credit card, mobile banking or cash</li>
                <li>Get tickets delivered to your doorstep</li>
                <li>Dependable customer service <b>(8 AM to 11 PM)</b></li>
              </ul>-->
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>




  
  <div class="row">

    <div class="col-md-6">
      <div class="social-link">
        <a href="https://www.facebook.com"><img alt="facebook" class="facebook" src="/assets/img/facebook.png"></a>
      </div>
       
      <div class="social-link">
        <a href="https://www.instagram.com"><img alt="instagram" class="instagram" src="/assets/img/instagram.png"></a>
      </div>
       
      <div class="social-link">
        <a href="https://www.twitter.com"><img alt="twitter" class="twitter" src="/assets/img/twitter.jpeg"></a>
      </div>
       
      <div class="social-link">
        <a href="https://www.google.com"><img alt="Google" class="google" src="/assets/img/google.png"></a>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <ul class="footer-nav">
      <li><a routerLink="/aboutus">About us</a></li>
      <li><a routerLink="/contactus">Contact us</a></li>
      <li><a routerLink="/terms">Terms & Conditions</a></li>
      <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
    </ul>
  </div>



  <div class="row">
    <div class="col-md-12">
      <p> Copyright © 2020 by Garage. All Right Reserved</p>
    </div>
  </div>




</footer>
