<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <a routerLink="/aboutus">About us</a>
    </div>
    <div class="panel-footer">
      <a routerLink="/contactus">Contact us</a>
    </div>
    <div class="panel-body">
      <a routerLink="/terms">Terms & Conditions</a>
    </div>
    <div class="panel-footer">
      <a routerLink="/privacypolicy">Privacy Policy</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="social-link">
      <a href="https://www.facebook.com"><img alt="facebook" class="facebook" src="/assets/img/facebook.png"></a>
    </div>
    <div class="social-link">
      <a href="https://www.instagram.com"><img alt="instagram" class="instagram" src="/assets/img/instagram.png"></a>
    </div>
    <div class="social-link">
      <a href="https://www.twitter.com"><img alt="twitter" class="twitter" src="/assets/img/twitter.jpeg"></a>
    </div>
    <div class="social-link">
      <a href="https://www.google.com"><img alt="Google" class="google" src="/assets/img/google.png"></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p> Copyright © 2020 by Garage. All Right Reserved</p>
  </div>
</div>
